@import "~react-datepicker/dist/react-datepicker.css";
//@import "~react-datepicker/dist/react-datepicker-cssmodules.css";

@font-face {
  font-family: BoosterNextFY;
  src: url(fonts/BoosterNextFy.otf) format('opentype');
}

$headerHeight: 120px;
$mainPadding: 8px;

* {
  box-sizing: border-box;
  outline: none;
}

body, html{
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin: 0;
  font-size: 15px;
  min-width: 320px;
  font-family: BoosterNextFY;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn {
  text-decoration: none;
  &:hover {
    opacity: .7;
    cursor: pointer;
  }
}

.react-datepicker-popper {
  z-index: 99999;
}

.header{
  position: relative;
  width: 100%;
  height: $headerHeight;
  text-align: center;
  line-height: $headerHeight;
  background: #f58a00;
  h1 {
    font-size: 3em;
    margin: 0;
  }
}

.infoContainer {
  position: relative;
  width: 42%;
  height: calc(100vh - #{$headerHeight});
  background: #e4e4e4;
  float: right;
  padding: $mainPadding;
  border: 1px solid #000;
  ul {
    li {
      margin-bottom: 8px;
      span {
        display: block;
        color: dimgrey;
      }
    }
  }
}

.mainContainer{
  position: relative;
  width: 58%;
  height: calc(100vh - #{$headerHeight});
  background: #fff;
  float: left;
  padding: $mainPadding;
  border: 1px solid #000;
}

.inputsContainer {
  position: relative;
  width: 92%;
  margin: 0 auto;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 500px;
  input,
  select {
    padding-left: 4px;
    width: 100%;
    margin-bottom: 10px;
  }
  input[name="firstNameInput"],
  input[name="lastNameInput"],
  input[name="emailInput"],
  input[name="phoneInput"] {
    width: 240px;
  }
  label {
    width: 100%;
    input {
      width: auto;
    }
  }
}

.authContainer {
  position: relative;
  width: 180px;
  height: 198px;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
  .btn {
    position: relative;
    width: 100%;
    height: 80px;
    margin-bottom: 16px;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    div {
      pointer-events: none;
    }
    div:first-child {
      position: relative;
      height: 100%;
      width: 30%;
    }
    div:last-child {
      position: relative;
      height: 100%;
      width: 70%;
      text-align: center;
      font-size: 1.2em;
      color: #fff;
      font-weight: bold;
    }
    &:active {
      box-shadow: none;
    }
  }
  .facebookBtn {
    div:first-child {
      background: url("icons/facebook.svg") center center no-repeat, #354F88;
      background-size: 44%;
    }
    div:last-child {
      background: #3B5997;
    }
  }
  .amazonBtn {
    div:first-child {
      background: url("icons/amazon.svg") center center no-repeat, #FF9900;
      background-size: 48%;
    }
    div:last-child {
      background: #FFA100;
    }
  }
  .googleBtn {
    div:first-child {
      background: url("icons/google.svg") center center no-repeat, #e2321c;
      background-size: 46%;
    }
    div:last-child {
      background: #DD4B39;
    }
  }
}

.navBtn{
  position: relative;
  width: 100px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  color: #000;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  border-radius: 3px;
  &:active {
    box-shadow: none;
  }
}

.nextBtn {
   float: right;
   background: #9FC5F8;
   margin-right: 4%;
   margin-top: 8px;
 }

.backBtn {
  float: left;
  background: #e4e4e4;
  margin-left: 4%;
  margin-top: 8px;
}

.updateBtn{
  float: right;
  background: #9FC5F8;
  margin-right: 4%;
  margin-top: 8px;
  margin-bottom: 10px;
  width: 80px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  &:active {
    box-shadow: none;
  }
}

.checkStatusBtn {
  display: block;
  clear: both;
  position: relative;
  top: 20px;
}

div.react-tabs {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar{
    position: relative;
    width: 2px;
    height: 2px;
    right: -$mainPadding;
  }
  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background: #f58a00;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb:active {
    background: #fff;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-track:hover {
    background: #fff;
  }
  &::-webkit-scrollbar-track:active {
    background: #333333;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
  ul.react-tabs__tab-list {
    position: absolute;
    width: 97%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    top: -28px;
    left: $mainPadding;
    li.react-tabs__tab {
      background: #fff;
      border-width: 1px 1px 0 1px;
      border-style: solid;
      border-color: #000;
      height: 28px;
      line-height: 28px;
      padding-left: 6px;
      padding-right: 6px;
      overflow: hidden;
      text-overflow: ellipsis;
      border-radius: 15px 15px 0 0;
      box-shadow: 2px -4px 8px 0px rgba(0, 0, 0, 0.2);
      &:hover {
        cursor: pointer;
      }
      &:active {
        background: #e4e4e4;
      }
    }
    li.react-tabs__tab.react-tabs__tab--selected {
      position: relative;
      top: -6px;
      height: 34px;
      line-height: 34px;
      font-weight: bold;
    }
  }
}

.appOverviewTab {
  .haulerImg {
    position: relative;
    float: left;
    width: 120px;
    height: 80px;
    background: url("icons/truck.svg") center center no-repeat;
    background-size: 74%;
  }
  .statusContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    clear: both;
    p:first-child {
      font-weight: bold;
      flex: 1;
      max-width: 120px;
      text-align: center;
      font-size: 1.2em;
    }
    p {
      flex: 3;
    }
  }
  .overviewListContainer {
    position: relative;
    width: 92%;
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
    margin-top: 20px;
    ul {
      position: relative;
      width: 100%;
      height: 100%;
      li {
        position: relative;
        width: 100%;
        height: 38px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .statusImg {
          position: relative;
          height: 100%;
          flex: 1;
          background: url("icons/cross.svg") center center no-repeat;
          background-size: 42%;
        }
        .statusImg.checked {
          background: url("icons/check.svg") center center no-repeat;
          background-size: 52%;
        }
        .statusImg.waiting {
          background: url("icons/wait.svg") center center no-repeat;
          background-size: 50%;
        }
        .title {
          position: relative;
          height: 100%;
          flex: 7;
          font-weight: bold;
          line-height: 38px;
        }
        .fixBtn {
          position: relative;
          height: 24px;
          line-height: 24px;
          top: 7px;
          background: #81ff1e;
          text-align: center;
          flex: 2;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
          &:active {
            box-shadow: none;
          }
        }
      }
    }
  }
}

.imageUploadContainer {
  position: relative;
  width: 150px;
  height: 150px;
}

.personalInfoTab {
  .avatarImg {
    position: relative;
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 10px;
    border: 1px dashed grey;
    text-align: center;
    line-height: 150px;
    font-size: 1.1em;
    border-radius: 3px;
    .imageUploadContainer {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      .imageUploadBtn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(icons/upload.svg) center center no-repeat;
        background-size: 72%;
        opacity: 0;
        z-index: 10;
        -webkit-transition: 200ms linear;
        border-radius: 3px;
        &:hover {
          opacity: .7;
          cursor: pointer;
        }
        &:active {
          opacity: 1;
        }
        form {
          position: relative;
          width: 100%;
          height: 100%;
          input.fileInput {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .avatarImg+p {
    height: 150px;
  }
  .inputsContainer {
    position: relative;
    width: 92%;
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
    margin-top: 20px;
    .title {
      position: relative;
      font-weight: bold;
      width: 100%;
      font-size: 1.2em;
      text-align: center;
      margin-bottom: 10px;
    }
    input,
    select {
      width: 240px;
    }
    .dateInputContainer {
      position: relative;
      display: flex;
      width: 200px;
      height: 21px;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      input {
        width: 150px;
        text-align: center;
        padding: 0;
      }
    }
  }
}

.driversLicenseTab {
  .licenseImg {
    position: relative;
    float: left;
    width: 120px;
    height: 80px;
    background: url("icons/card.svg") center center no-repeat;
    background-size: 64%;
  }
  .inputsContainer {
    label {
      width: 49%;
      min-width: 245px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      input{
        width: 64%;
      }
      select{
        width: 80%;
      }
    }
  }
  .imgsContainer {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 610px;
    .imageUploadContainer {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      .imageUploadBtn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(icons/upload.svg) center center no-repeat;
        background-size: 42%;
        opacity: 0;
        z-index: 10;
        -webkit-transition: 200ms linear;
        border-radius: 3px;
        &:hover {
          opacity: .7;
          cursor: pointer;
        }
        &:active {
          opacity: 1;
        }
        form {
          position: relative;
          width: 100%;
          height: 100%;
          input.fileInput {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .frontLicense,
    .backLicense{
      position: relative;
      min-width: 300px;
      width: 300px;
      height: 180px;
      border: 1px dashed grey;
      text-align: center;
      line-height: 180px;
      font-size: 1.1em;
      border-radius: 3px;
      margin-bottom: 10px;
    }
    .frontLicense {
      margin-right: 6px;
    }
  }
}

.vehicleInfoTab {
  .vehicleImg {
    position: relative;
    float: left;
    width: 120px;
    height: 80px;
    background: url("icons/truck.svg") center center no-repeat;
    background-size: 74%;
  }
  .inputsContainer {
    width: 65%;
    label {
      width: 200px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      input,
      select{
        width: 64%;
      }
    }
  }
  .imgsContainer {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 610px;
    .imageUploadContainer {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      .imageUploadBtn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(icons/upload.svg) center center no-repeat;
        background-size: 42%;
        opacity: 0;
        z-index: 10;
        -webkit-transition: 200ms linear;
        border-radius: 3px;
        &:hover {
          opacity: .7;
          cursor: pointer;
        }
        &:active {
          opacity: 1;
        }
        form {
          position: relative;
          width: 100%;
          height: 100%;
          input.fileInput {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .carPhoto{
      position: relative;
      width: 250px;
      height: 200px;
      border: 1px dashed grey;
      text-align: center;
      line-height: 180px;
      font-size: 1.1em;
      border-radius: 3px;
      margin-bottom: 10px;
      margin-right: 6px;
    }
  }
}

.bankingInfoTab {
  .bankingImg {
    position: relative;
    float: left;
    width: 120px;
    height: 80px;
    background: url("icons/visa.svg") center center no-repeat;
    background-size: 70%;
  }
  .card {
    position: relative;
    width: 90%;
    height: 140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    label {
      opacity: .6;
      pointer-events: none;
      -webkit-transition: 200ms linear;
    }
    span{
      opacity: .6;
      -webkit-transition: 200ms linear;
    }
    label:first-child {
      display: block;
      width: 320px;
      height: 32px;
      font-size: 1.2em;
      margin-bottom: 8px;
      opacity: 1;
      pointer-events: auto;
      input {
        width: 26px;
        height: 26px;
      }
    }
    label {
      margin-bottom: 6px;
      input {
        padding-left: 4px;
      }
    }
    .bankAnswer {
      display: block;
      margin-top: 2px;
      font-size: 1em;
    }
    .bankAnswer.error {
      color: red;
    }
  }
  .card.active {
    label {
      opacity: 1;
      pointer-events: auto;
    }
    span {
      opacity: 1;
    }
  }
  .card.bankAccountInfo {
    margin-top: 20px;
  }
}

.shadowBlock {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  background: RGBA(0,0,0,.6);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: 300ms linear;
}
.shadowBlock.active{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.1em;
  color: #fff;
  opacity: 1;
  div {
    position: relative;
    width: 28px;
    height: 28px;
    background: url("icons/loading.svg") center center no-repeat;
    background-size: contain;
    -webkit-animation: preloader 1s linear infinite;
    margin: 14px auto;
  }
}

@keyframes preloader {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}